# regression tests configuration
# decks arrays lists the rundecks to test:
@decks = ('EM20', 'E1oM20');
# Git branch:
$gitbranch = 'master';
# comps arrays specifies the compilers to use:
@comps = ('intel', 'gfortran');
# This specifies the test level. Other options are AGGRESSIVE and INSANE
$level = 'GENTLE';
# Do we want to clean up the scratch space?
$doCleanScratch = 'YES';
